#Q1.Create a python program to sort the given list of tuples based on integer value using a lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_players = sorted(players, key=lambda x: x[1], reverse=True)

print("Sorted List:", sorted_players)

Sorted List: [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

#Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squares = list(map(lambda x: x**2, numbers))

print("Squares of the numbers:", squares)

Squares of the numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

string_tuple = tuple(map(lambda x: str(x), numbers))

print("Converted tuple:", string_tuple)

Converted tuple: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

#Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [5]:
from functools import reduce

numbers = list(range(1, 26))

product = reduce(lambda x, y: x * y, numbers)

print("Product of numbers from 1 to 25:", product)

Product of numbers from 1 to 25: 15511210043330985984000000

#Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [6]:
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

divisible_by_2_and_3 = filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers)

result = list(divisible_by_2_and_3)
print("Numbers divisible by 2 and 3:", result)

Numbers divisible by 2 and 3: [6, 60, 90, 120]

#Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
['python', 'php', 'aba', 'radar', 'level']

In [7]:
strings = ['python', 'php', 'aba', 'radar', 'level']

palindromes = filter(lambda x: x == x[::-1], strings)

result = list(palindromes)
print("Palindromes in the list:", result)

Palindromes in the list: ['php', 'aba', 'radar', 'level']