#Q.1: Create one variable containing following type of data:
##(i) string
##(ii) list
##(iii) float
##(iv) tuple

In [1]:
mixed_variable = [
    "Hello, World!",
    [1, 2, 3, 4, 5],
    3.14,
    (True, False, "Yes", "No")
]

print(mixed_variable)

['Hello, World!', [1, 2, 3, 4, 5], 3.14, (True, False, 'Yes', 'No')]

#Q2. Given are some following variables containing data:
##(i) var1 = ‘ ‘
##(ii) var2 = ‘[ DS , ML , Python]’
##(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
##(iv) var4 = 1.

In [2]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.0
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

#Q3. Explain the use of the following operators using an example:
##(i) /
##(ii) %
##(iii) //
##(iv) **

In [3]:
result = 10 / 3
remainder = 10 % 3
quotient = 10 // 3
power = 2 ** 3

print("Division (/):", result)
print("Modulo (%):", remainder)
print("Floor Division (//):", quotient)
print("Exponentiation (**):", power)

Division (/): 3.3333333333333335
Modulo (%): 1
Floor Division (//): 3
Exponentiation (**): 8

#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [4]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], {'name': 'John'}, None, 42, 5+3j, b'bytes']

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 10, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'John'}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: 42, Data Type: <class 'int'>
Element: (5+3j), Data Type: <class 'complex'>
Element: b'bytes', Data Type: <class 'bytes'>

#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [8]:
A = 10
B = 5
count = 0

while A % B == 0 and A != 0:
    A = A // B
    count += 1

if count > 0:
    print(f"The number can be divided {count} times.")
else:
    print(f"{100} is not divisible by {5}.")

The number can be divided 1 times.

#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [9]:
my_list = [10, 15, 22, 33, 44, 55, 63, 72, 81, 90, 100, 105, 120, 125, 135, 150, 160, 170, 180, 190, 200, 210, 222, 240, 250]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3")
    else:
        print(f"{element} is not divisible by 3")

10 is not divisible by 3
15 is divisible by 3
22 is not divisible by 3
33 is divisible by 3
44 is not divisible by 3
55 is not divisible by 3
63 is divisible by 3
72 is divisible by 3
81 is divisible by 3
90 is divisible by 3
100 is not divisible by 3
105 is divisible by 3
120 is divisible by 3
125 is not divisible by 3
135 is divisible by 3
150 is divisible by 3
160 is not divisible by 3
170 is not divisible by 3
180 is divisible by 3
190 is not divisible by 3
200 is not divisible by 3
210 is divisible by 3
222 is divisible by 3
240 is divisible by 3
250 is not divisible by 3

#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
##Mutable Data Types:

- Mutable data types are those whose values can be changed or modified after they are created. The objects themselves can be updated in place.
-- Examples: Lists, Dictionaries, Sets
Key Property: The contents of mutable objects can be changed without creating a new object.
##Immutable Data Types:

- Immutable data types are those whose values cannot be changed after they are created. Any modification creates a new object, leaving the original unchanged.
-- Examples: Tuples, Strings, Integers
Key Property: Once created, the value of immutable objects cannot be changed directly.

In [10]:
mutable_list = [1, 2, 3]
print("Original Mutable List:", mutable_list)
mutable_list[0] = 99
print("Modified Mutable List:", mutable_list)


immutable_tuple = (1, 2, 3)
print("Original Immutable Tuple:", immutable_tuple)
try:
    immutable_tuple[0] = 99
except TypeError as e:
    print("Error when modifying tuple:", e)

Original Mutable List: [1, 2, 3]
Modified Mutable List: [99, 2, 3]
Original Immutable Tuple: (1, 2, 3)
Error when modifying tuple: 'tuple' object does not support item assignment