# Q1. What is a database? Differentiate between SQL and NoSQL databases.

What is a Database?
----------------------

### 1. **Definition of a Database**
- A **database** is an organized collection of data, typically stored and accessed electronically from a computer system.
- Databases are used to store, retrieve, and manage data in various forms such as text, numbers, and images.
- A **Database Management System (DBMS)** is software used to manage and organize these databases.

---

### 2. **Types of Databases**
- **Relational Databases**: Store data in structured tables with rows and columns.
- **Non-Relational (NoSQL) Databases**: Store data in unstructured or semi-structured formats (such as key-value pairs, documents, or graphs).

---

### 3. **Difference Between SQL and NoSQL Databases**
| Feature                    | SQL Databases                          | NoSQL Databases                          |
|----------------------------|----------------------------------------|------------------------------------------|
| **Data Structure**          | Structured data in tables (rows and columns) | Unstructured or semi-structured (key-value, document, graph, etc.) |
| **Schema**                  | Fixed schema (predefined structure)    | Flexible schema (can change over time)   |
| **Scalability**             | Vertical scaling (upgrading hardware)  | Horizontal scaling (adding more servers) |
| **Transactions**            | ACID-compliant (Atomicity, Consistency, Isolation, Durability) | BASE model (Basically Available, Soft state, Eventually consistent) |
| **Query Language**          | SQL (Structured Query Language)        | Varies (e.g., MongoDB uses a query language for documents) |
| **Use Cases**               | Transactional systems (banking, ecommerce) | Big data, real-time web apps, flexible data models |
| **Examples**                | MySQL, PostgreSQL, Oracle              | MongoDB, Cassandra, CouchDB, Redis      |
| **Consistency**             | Strong consistency (in most cases)     | Eventual consistency (in most cases)     |

---

### 4. **Key Differences**
#### **1. Data Structure**
- **SQL**: Data is stored in tables with rows and columns, which are strictly defined by a schema.
- **NoSQL**: Data can be stored in many different formats, including key-value pairs, documents (JSON, BSON), and graphs.

#### **2. Schema**
- **SQL**: Schema is predefined. All records in a table must follow the same structure.
- **NoSQL**: Schema is dynamic, meaning that each record (document) can have different fields.

#### **3. Scalability**
- **SQL**: Typically scales vertically (requires better hardware for growth).
- **NoSQL**: Designed to scale horizontally, meaning you can add more servers or nodes to handle increased load.

#### **4. Transaction Handling**
- **SQL**: ACID properties ensure reliable transactions (e.g., database transactions are fully completed or not executed at all).
- **NoSQL**: Many NoSQL databases use the BASE model, which prioritizes availability and partition tolerance over strict consistency.

#### **5. Query Language**
- **SQL**: SQL (Structured Query Language) is a standardized language for querying relational databases.
- **NoSQL**: Different databases have different query models. For example, MongoDB uses a query language for documents, and Cassandra uses CQL (Cassandra Query Language).

#### **6. Flexibility**
- **SQL**: Fixed schema means changes to the database schema (like adding or removing columns) can require significant work and downtime.
- **NoSQL**: Schema-less design means data structures can be changed easily, without disrupting the database.

---

### 5. **Use Cases**
- **SQL**:
  - Banking systems (transaction consistency is crucial).
  - Customer Relationship Management (CRM) systems.
  - Enterprise applications that need structured data and ACID compliance.
  
- **NoSQL**:
  - Social media platforms (real-time data, unstructured content).
  - Internet of Things (IoT) where large amounts of unstructured data are generated.
  - Big Data analytics for handling vast amounts of semi-structured or unstructured data.

---

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

### 1. **Definition of DDL (Data Definition Language)**
# DDL (Data Definition Language) refers to a subset of SQL used to define, modify, and remove database structures such as tables, indexes, and views.
# DDL commands allow users to create, alter, and delete database objects, but do not deal with data manipulation (which is handled by DML, Data Manipulation Language).

---

### 2. **Common DDL Commands**
- **CREATE**: Used to create new database objects like tables, views, or indexes.
- **DROP**: Used to delete an existing database object.
- **ALTER**: Used to modify an existing database object, such as adding or removing columns in a table.
- **TRUNCATE**: Used to delete all rows in a table while keeping the structure intact.

---

### 3. **Explanation of Each Command**

#### **CREATE Command**
# Purpose: To create a new database object (e.g., table, view).
# Syntax:
# ```sql
# CREATE TABLE table_name (
#     column1 datatype,
#     column2 datatype,
#     column3 datatype,
#     ...
# );
# ```
# Example:
# ```sql
# CREATE TABLE Employees (
#     EmployeeID INT,
#     FirstName VARCHAR(50),
#     LastName VARCHAR(50),
#     HireDate DATE
# );
# ```
# Explanation: This creates a table called "Employees" with four columns: EmployeeID, FirstName, LastName, and HireDate.

#### **DROP Command**
# Purpose: To delete an existing database object, such as a table or view, along with all of its data.
# Syntax:
# ```sql
# DROP TABLE table_name;
# ```
# Example:
# ```sql
# DROP TABLE Employees;
# ```
# Explanation: This deletes the "Employees" table, including all data contained in the table.

#### **ALTER Command**
# Purpose: To modify an existing database object (e.g., add, modify, or delete columns in a table).
# Syntax:
# ```sql
# ALTER TABLE table_name
# ADD column_name datatype;
# ```
# Example:
# ```sql
# ALTER TABLE Employees
# ADD Email VARCHAR(100);
# ```
# Explanation: This adds a new column called "Email" of type VARCHAR to the "Employees" table.

#### **TRUNCATE Command**
# Purpose: To delete all rows in a table but keep the table structure intact, allowing future data insertion. It is faster than a DELETE command because it does not log individual row deletions.
# Syntax:
# ```sql
# TRUNCATE TABLE table_name;
# ```
# Example:
# ```sql
# TRUNCATE TABLE Employees;
# ```
# Explanation: This removes all rows from the "Employees" table but does not affect the table's structure.

---

### 4. **Why These Commands Are Used**
- **CREATE**: To define new tables or other database objects and specify the structure of the data.
- **DROP**: To remove a table or other object from the database completely, including its data.
- **ALTER**: To modify an existing table's structure without deleting the table (e.g., adding a column).
- **TRUNCATE**: To quickly remove all data from a table while retaining the table for future use.

---

### 5. **Key Differences**
- **CREATE**: Adds new objects to the database.
- **DROP**: Completely removes objects from the database, including their data.
- **ALTER**: Modifies the structure of an existing object.
- **TRUNCATE**: Removes data but leaves the table structure intact.

---

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### 1. **Definition of DML (Data Manipulation Language)**
# DML (Data Manipulation Language) is a subset of SQL that allows users to manipulate data within the existing database objects (such as tables).
# DML commands are used to insert, update, delete, and retrieve data from the database.

---

### 2. **Common DML Commands**
- **INSERT**: Used to insert new records (rows) into a table.
- **UPDATE**: Used to modify existing records in a table.
- **DELETE**: Used to remove records from a table.

---

### 3. **Explanation of Each Command**

#### **INSERT Command**
# Purpose: To insert new rows of data into an existing table.
# Syntax:
# ```sql
# INSERT INTO table_name (column1, column2, column3, ...)
# VALUES (value1, value2, value3, ...);
# ```
# Example:
# ```sql
# INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate)
# VALUES (1, 'John', 'Doe', '2025-02-01');
# ```
# Explanation: This inserts a new row into the "Employees" table with EmployeeID = 1, FirstName = 'John', LastName = 'Doe', and HireDate = '2025-02-01'.

#### **UPDATE Command**
# Purpose: To modify existing records in a table.
# Syntax:
# ```sql
# UPDATE table_name
# SET column1 = value1, column2 = value2, ...
# WHERE condition;
# ```
# Example:
# ```sql
# UPDATE Employees
# SET LastName = 'Smith'
# WHERE EmployeeID = 1;
# ```
# Explanation: This updates the "LastName" of the employee with EmployeeID = 1 to 'Smith'.

#### **DELETE Command**
# Purpose: To remove one or more records from a table.
# Syntax:
# ```sql
# DELETE FROM table_name
# WHERE condition;
# ```
# Example:
# ```sql
# DELETE FROM Employees
# WHERE EmployeeID = 1;
# ```
# Explanation: This deletes the record from the "Employees" table where EmployeeID = 1.

---

### 4. **Why These Commands Are Used**
- **INSERT**: To add new data into the database.
- **UPDATE**: To modify existing data based on certain conditions.
- **DELETE**: To remove data from the database.

---

### 5. **Key Differences**
- **INSERT**: Adds new rows to a table.
- **UPDATE**: Modifies existing rows in a table.
- **DELETE**: Removes rows from a table.

---

# Q4. What is DQL? Explain SELECT with an example.

### 1. **Definition of DQL (Data Query Language)**
# DQL (Data Query Language) refers to the subset of SQL used to query or retrieve data from the database.
# The main DQL command is `SELECT`, which allows users to fetch data from one or more tables in a database.

---

### 2. **Common DQL Command**
- **SELECT**: Used to retrieve data from a table or a combination of tables. It is the most commonly used SQL command to query the database.

---

### 3. **Explanation of the SELECT Command**

#### **SELECT Command**
# Purpose: The `SELECT` command is used to query the database and retrieve data from one or more tables. It allows specifying which columns to display, filtering rows, sorting data, and joining tables.
# Syntax:
# ```sql
# SELECT column1, column2, ...
# FROM table_name
# WHERE condition
# ORDER BY column
# ```
# - **column1, column2, ...**: Specify the columns to retrieve.
# - **table_name**: The table from which to retrieve the data.
# - **WHERE condition**: Filters the data based on certain conditions (optional).
# - **ORDER BY column**: Sorts the data based on the specified column (optional).

# Example 1: Basic SELECT Query
# ```sql
# SELECT FirstName, LastName
# FROM Employees;
# ```
# Explanation: This retrieves the FirstName and LastName columns from the "Employees" table for all records.

# Example 2: SELECT with WHERE Clause
# ```sql
# SELECT FirstName, LastName
# FROM Employees
# WHERE EmployeeID = 1;
# ```
# Explanation: This retrieves the FirstName and LastName of the employee where EmployeeID is equal to 1.

# Example 3: SELECT with WHERE and ORDER BY Clauses
# ```sql
# SELECT FirstName, LastName, HireDate
# FROM Employees
# WHERE HireDate > '2020-01-01'
# ORDER BY HireDate DESC;
# ```
# Explanation: This retrieves the FirstName, LastName, and HireDate of employees hired after January 1, 2020, and orders the results by HireDate in descending order.

# Example 4: SELECT with Multiple Tables (JOIN)
# ```sql
# SELECT e.FirstName, e.LastName, d.DepartmentName
# FROM Employees e
# JOIN Departments d ON e.DepartmentID = d.DepartmentID;
# ```
# Explanation: This joins the "Employees" and "Departments" tables on the DepartmentID column and retrieves the FirstName, LastName, and DepartmentName of each employee.

---

### 4. **Why SELECT Is Used**
- **SELECT** is used to retrieve data from a database based on specific conditions and display it in a meaningful way.
- It can be used for various purposes such as reporting, analysis, and data retrieval for application logic.

---

### 5. **Key Features of SELECT**
- **Filtering Data**: The `WHERE` clause is used to filter records.
- **Sorting Data**: The `ORDER BY` clause is used to sort the results in ascending or descending order.
- **Aggregate Functions**: Functions like `COUNT()`, `SUM()`, `AVG()`, etc., can be used to perform calculations on data.
- **Joins**: The `JOIN` clause is used to combine rows from two or more tables based on a related column.

---

# Q5. Explain Primary Key and Foreign Key.

### 1. **Definition of Primary Key and Foreign Key**
# **Primary Key** and **Foreign Key** are two fundamental concepts in relational database design that help maintain data integrity and establish relationships between tables.
# - **Primary Key** is a unique identifier for a record in a table.
# - **Foreign Key** is a field in one table that uniquely identifies a row in another table, establishing a relationship between the two.

---

### 2. **Primary Key**
# Purpose: A **Primary Key** is a column (or a combination of columns) that uniquely identifies each row in a table. It ensures that each record within the table is unique and identifiable.
# Key Points:
# - Each table can have only **one primary key**.
# - The values in the **primary key column(s)** must be **unique** and **cannot be null**.
# - A primary key is used to ensure the integrity of the data in the table.

# Syntax to define a Primary Key:
# ```sql
# CREATE TABLE table_name (
#   column1 datatype PRIMARY KEY,
#   column2 datatype,
#   ...
# );
# ```

# Example 1: Defining a Primary Key
# ```sql
# CREATE TABLE Employees (
#   EmployeeID INT PRIMARY KEY,
#   FirstName VARCHAR(50),
#   LastName VARCHAR(50)
# );
# ```
# Explanation: In this example, the `EmployeeID` is the primary key for the "Employees" table, ensuring that each employee has a unique `EmployeeID`.

---

### 3. **Foreign Key**
# Purpose: A **Foreign Key** is a column or a set of columns in one table that refers to the **primary key** of another table. It is used to establish and enforce a link between the data in the two tables, maintaining referential integrity.
# Key Points:
# - A table can have multiple foreign keys.
# - Foreign key columns can accept **null** values unless explicitly defined as `NOT NULL`.
# - The foreign key must match the **primary key** values in the referenced table or be null.

# Syntax to define a Foreign Key:
# ```sql
# CREATE TABLE table_name (
#   column1 datatype,
#   column2 datatype,
#   FOREIGN KEY (column_name) REFERENCES other_table (primary_key_column)
# );
# ```

# Example 2: Defining a Foreign Key
# ```sql
# CREATE TABLE Orders (
#   OrderID INT PRIMARY KEY,
#   OrderDate DATE,
#   EmployeeID INT,
#   FOREIGN KEY (EmployeeID) REFERENCES Employees (EmployeeID)
# );
# ```
# Explanation: In this example, the `EmployeeID` column in the "Orders" table is a foreign key that refers to the `EmployeeID` column in the "Employees" table. This creates a relationship between the "Orders" and "Employees" tables.

---

### 4. **Difference Between Primary Key and Foreign Key**

| **Attribute**          | **Primary Key**                                             | **Foreign Key**                                             |
|------------------------|-------------------------------------------------------------|-------------------------------------------------------------|
| **Uniqueness**         | Ensures uniqueness of values in the column.                 | Can have duplicate values.                                  |
| **Nullability**        | Cannot have null values.                                    | Can accept null values (unless specified).                  |
| **Purpose**            | Uniquely identifies each record in the table.               | Creates a relationship between two tables.                  |
| **Table Relationship** | Belongs to the table it is defined in.                      | Refers to the primary key of another table.                 |

---

### 5. **Why Primary and Foreign Keys Are Used**
- **Primary Key**: Ensures data integrity by enforcing uniqueness in the table.
- **Foreign Key**: Ensures referential integrity by establishing relationships between tables, allowing related data to be connected.

---

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

try:
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="your_password",
        database="your_database"
    )

    if connection.is_connected():
        print("Connected to MySQL database")

    cursor = connection.cursor()
    cursor.execute("SELECT * FROM your_table_name")
    result = cursor.fetchall()

    for row in result:
        print(row)

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Connection closed")

# Q7. Give the order of execution of SQL clauses in an SQL query.

### 1. **Introduction**
- In SQL, when you write a query, SQL processes the different clauses in a specific order. The order of execution is not the same as the order in which the clauses are written in the query.
- Understanding the order of execution can help in debugging and optimizing queries.

---

### 2. **Order of Execution of SQL Clauses**
The SQL clauses are executed in the following order:

1. **FROM**:
   - First, the data source (tables, views, or joins) is determined. It specifies from where to retrieve the data.
   - Example: `FROM Employees`

2. **JOIN**:
   - If there are any joins (e.g., INNER JOIN, LEFT JOIN), they are executed after the FROM clause to combine rows from two or more tables.
   - Example: `JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID`

3. **WHERE**:
   - The WHERE clause filters the rows based on specified conditions.
   - It is used to specify criteria for selecting records.
   - Example: `WHERE Employees.Age > 30`

4. **GROUP BY**:
   - After filtering, the data is grouped by the specified columns, creating aggregates (like SUM, COUNT, etc.) for each group.
   - Example: `GROUP BY DepartmentID`

5. **HAVING**:
   - After grouping, the HAVING clause is used to filter the groups based on a condition.
   - It acts like a WHERE clause, but for aggregated data.
   - Example: `HAVING COUNT(EmployeeID) > 5`

6. **SELECT**:
   - After filtering and grouping, the SELECT clause determines which columns to display in the result set.
   - Example: `SELECT EmployeeName, DepartmentName`

7. **DISTINCT**:
   - The DISTINCT clause removes duplicate rows from the result set. Itâ€™s applied after the SELECT clause.
   - Example: `SELECT DISTINCT DepartmentName`

8. **ORDER BY**:
   - The ORDER BY clause sorts the result set based on one or more columns, in ascending (default) or descending order.
   - Example: `ORDER BY EmployeeName ASC`

9. **LIMIT / OFFSET**:
   - Finally, the LIMIT clause is used to restrict the number of rows returned, and OFFSET is used to skip a specific number of rows.
   - Example: `LIMIT 10 OFFSET 20`

---

### 3. **Example of SQL Query with Clauses in Correct Order**
```sql
SELECT DISTINCT DepartmentName
FROM Employees
JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID
WHERE Employees.Age > 30
GROUP BY DepartmentID
HAVING COUNT(EmployeeID) > 5
ORDER BY DepartmentName ASC
LIMIT 10;

In [ ]:
SELECT column1, column2
FROM table1
JOIN table2 ON table1.id = table2.id
WHERE condition
GROUP BY column1
HAVING condition
ORDER BY column1
LIMIT 10;